:root {
  --primary-color-dark: #c43c00;
  --primary-color: #ff6d00;
  --primary-color-light: #ff9e40;
  --primary-color-text: #ffffff;
  --secondary-color-dark: #c7b800;
  --secondary-color: #ffea00;
  --secondary-color-light: #ffff56;
  --secondary-color-text: #000000;
}